html,
body,
#root {
    height: auto;
    min-height: 100vh;
    margin: 0;
    background-color: whitesmoke;
    width: 100%;
    display: flex;
    flex-direction: column;
    --anthracite: #393646;
    --medium-slate-gray: #6D5D6E;
}

body {
    height: 100%;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.home-page {
    min-height: 88.8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
}

/*************************/

#card-border{
    border-color: #003576 !important; 
}


/*************************/
/* NAV BAR ***************/
/*************************/
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #003576;
}

#show-virtual-clock-btn, #dropdown-basic{
    background-color: whitesmoke;
    color: #003576;
    border-color: whitesmoke;
    height: 50px;
    width: 50px;
}

#dropdown-basic{
    background-color: whitesmoke;
    color: #003576;
    border-color: whitesmoke;
    height: 50px;
    width: 155px;
    font-size: 16px;
}

#virtual-clock-form {
    background-color: whitesmoke;
    color: #003576;
    border-color: whitesmoke;
    height: 50px;
    width: 155px;
    line-height: 37px;
}

#logout-id {
    background-color: whitesmoke;
    color: #003576;
    font-size: 16px;
}

#navbar-title{
    font-size: 18px;
    font-weight: bold;
}

#navbar-toggle {
    color: whitesmoke;
    border-color: whitesmoke;
    cursor: pointer;
    display: flex;
    align-items: center;
}
/*************************/
/* STUDENT PROPOSAL LIST*/
/*************************/

#show-proposal-detail {
    margin-top: -2px; 
    cursor: 'pointer';
    color: #003576;
    font-weight: bold;
}

/*************************/
/* TEACHER PROPOSAL LIST*/
/*************************/

#proposal-detail-actions{
    margin-top: -2px; 
    cursor: 'pointer';
    color: #003576;
    font-weight: bold;
}
/*************************/
/* APPLICATION ***********/
/*************************/

.browse-application {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
}

.browse-application h2 {
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-weight: bold;
}

.browse-application .accordion-item {
    margin: 15px;
    max-width: 100%;
}

.browse-application .accordion-item .accordion-button {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.browse-application .accordion-body .card {
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.browse-application .accordion-body .card-body {
    margin: 0;
}

.text-plus {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 6px;
}

.text-plus>* {
    margin-right: 10px;
}

.text-with-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  

.text-plus> :last-child {
    margin-right: 0;
}

/*************************/

/*************************/
.row-bar {
    background-color: white;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    align-items: center; 
    justify-content: center;

}

#title-btn {
    background-color: white;
    height: 40px;
    padding: 6.4px 20px;
    font-size: 16px;
    border-radius: 40px;
    color: #003576;
    font-weight: bold;
    align-items: center;
    border-color: #003576;
    box-shadow: 0 2px 0 rgba(0,0,0,.045);

}
#title-add-btn {
    background-color: #003576;
    color: white;
    border-color: #003576;
    border-radius: 50%;

}

/*************************/

.home-page-content {
    max-width: 1024px;
}

.filterCardContainer {
    display: inline-block;
    width: 75%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: 3px;
}

footer {
    padding: 1.5rem;
    background-color: #f8f9fa;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    max-height: 200px;
}

footer img {
    width: 120px;
    margin: auto;
    display: flex;
    justify-content: flex-end;
}

.footer-text {
    text-align: left;
    color: #6c757d;
}

@media (max-width: 767px) {
    footer {
        flex-direction: column;
        align-items: flex-start;
    }

    footer img {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
    }

    .footer-text {
        display: flex;
        text-align: center;
        align-items: center;
    }
}

