.proposal-details-container {
    background: #C9E2EA;
    padding: 9px;
}

.proposal-details-container .row {
    margin: 5px;
}

.proposal-details-title {
    text-align: center;
}

.proposal-details-keyword {
    text-align: center;
}

.proposal-details-keyword .badge {
    margin: 3px;
}

.proposal-details-expiration {
    text-align: center;
}

.proposal-details-expiration .badge {
    margin: 3px;
    font-size: 15px;
}