.proposal-details-container {
    background-color: whitesmoke;
    padding: 6px;
}

.proposal-details-title {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

.proposal-details-container .row {
    margin: 5px;
}

.proposal-details-keyword {
    text-align: center;
}

.proposal-details-keyword .badge {
    background: orange;
    margin: 2px;
    font-size: 14px;
    border-radius: 20px;
}

.proposal-details-expiration {
    text-align: center;
}

.proposal-details-expiration .badge {
    margin: 4px;
    font-size: 14px;
    border-radius: 24px;
}

.proposal-badge .badge {
    background-color: orange;
    font-size: 14px;
    margin: 4px;
    padding: 6px 12px;
    border-radius: 20px;
}

.proposal-details-container .card .card-title {
    font-size: 14px;
}

#programmes-notes {
    margin-bottom: 10px;
    font-size: 14px;
    color: gray;
}

.proposal-field-mandatory {
    color: red;
    margin-right: 4px;
}

#add-proposal-btn,
#add-keyword-btn,
#add-group-btn,
#add-request-btn {
    background-color: #5bc0de;
    border: 2px solid #5bc0de;
}

#add-proposal-btn:hover,
#add-keyword-btn:hover,
#add-group-btn:hover {
    background-color: #499cbf;
}

#go-back {
    color: black;
    background-color: #f0f0f0;
    border: 2px solid #666;
}

#go-back:hover {
    background-color: darkgray;
}
@media (max-width: 767px) {
    #go-back {
        width: 100%; 
        margin-bottom: 4px;
    }
}

#show-more {
    color: darkgray;
    font-weight: bold;
    cursor: pointer;
}

#show-less {
    color: darkgray;
    font-weight: bold;
    cursor: pointer;
}

@media (min-width: 768px) {
    .proposal-details-container {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

.text-plus {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
}

.text-plus>* {
    margin-right: 10px;
}

.text-with-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-plus> :last-child {
    margin-right: 0;
}