.student-applications-container {
    padding: 9px;
    background-color: whitesmoke;
}

.student-application-row {
    margin: 5px;
    background-color: whitesmoke;
}

.student-application-card-body {
    color: #282828 !important;
    background-color: whitesmoke;

}

.student-application-card-body .card-title,
.student-application-card-body .card-subtitle {
    color: #282828;
}

