html,
body,
#root {
    height: auto;
    min-height: 100vh;
    margin: 0;
}

#root {
    background-color: #DBECFF;
    width: 100%;
    display: flex;
    flex-direction: column;
}

body {
    height: 100%;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.login-page {
    background-color: #DBECFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-section {
    margin-top: 10rem;
    background-color: white;
    padding: 15px 45px 45px 45px;
    border-radius: 10px;
    max-width: 500px;
}

.home-page {
    min-height: 89.8vh;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* position: relative; */
    /* padding-bottom: 200px; */
}

.browse-application {
    background-color: #DBECFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.browse-application h2 {
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 90vw;
    border-radius: 10px;
    font-weight: bold;
}

.browse-application .accordion-item {
    margin: 15px;
    max-width: 100%;
}

.browse-application .accordion-item .accordion-button {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.browse-application .accordion-body .card {
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.browse-application .accordion-body .card-body {
    margin: 0;
}

footer {
    padding: 1.5rem;
    background-color: #f8f9fa;
    border-radius: 2rem 2rem 0 0;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    /* position: absolute;
    bottom: 0;
    left: 0;
    right: 0; */
    max-height: 200px;
}

footer img {
    width: 120px;
    margin: auto;
    display: flex;
    justify-content: flex-end;
}

.footer-text {
    text-align: left;
    color: #6c757d;
}

@media (max-width: 767px) {
    footer {
        flex-direction: column;
        align-items: flex-start;
    }

    footer img {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
    }

    .footer-text {
        display: flex;
        text-align: center;
        align-items: center;
    }
}

.home-page-content {
    max-width: 1024px;
}

@media (min-width: 768px) {
    .proposal-details-container {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}